@font-face {
    font-family: Enhanced;
    src: url('assets/fonts/jaapokkisubtract-regular.woff');
  }

:root {
    --main-bg-color: #160D38;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Cardo', serif;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #160D38;
    transition: all 1s ease;
}


.navigation {
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2rem;
  }
  
  navigation-menu {
    width: 100%;
  }
  
  .navigation__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  
  .navigation__hamburger {
    display: none;
  }
  
  .navigation__hamburger:hover {
    background: none;
    color: #1ECED0;
    cursor: pointer;
  }
  
  .navigation__item {
    list-style-type: none;
    margin: 0;
    margin-left: 50px;
    padding: 0;
    font-size: .8em;
    font-family: 'Montserrat', sans-serif;
    font-weight: inherit;
  }
  
  .navigation__item--link {
    color: inherit;
    border-bottom: 2px transparent solid;
  }
  
  .navigation__item--link:hover {
    color: #FF4981;
  }
  
  .navigation__item--cta {
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: #FFFFFF;
    background-color: #FF4981;
  }

  .navigation__item--cta:hover {
    color: #FF4981;
    background-color: #FFFFFF;
  }
  
  .navigation .brand {
    background: none;
    border-bottom: none;
  }
  
  .navigation__item--logo, .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    list-style-type: none;
    color: #FFFFFF;
    margin: 0;
    padding: 0 4px;
    padding-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 1.6rem;
    text-align: right;
  }
  
  .navigation__item--logo img {
    height: 3rem;
    margin-right: 15px;
  }
  
  .navigation__item--cta span {
    margin-right: 0.6em;
  }

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 2rem;
}

.panel:first-of-type {
    margin-top: 0;
}

.panel-row {
    margin: 1.5rem .5rem;
    padding: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* colours */
.color-light {
    color: #160D38;
    background-color: #FFFFFF;
}

.color-pink {
    color: #FFFFFF;
    background-color: #FF4981;
}
/* end of colours */

a {
    text-decoration: none;
    color: #FF4981;
    transition: all 0.2s ease;
}

a:hover {
    color: #ffffff;
}  

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    display: inline-block;
}

h2 {
    font-size: 4rem;
    margin: 1rem 0;
}

p {
    display: block;
}

.has-dropcap:first-child:first-letter {
    color: #FF4981;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.has-dropcap {
    text-align: justify;
}

.email-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}

.email-form-mobile {
    margin: 1rem 0;
    display: none;
}

input[type=email] {
    display: inline-block;
    margin: 0 .5rem;
    padding: 1rem 1.5rem;
    border: 1.5px solid #fff;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

input[type=email]:hover {
    border: 1.5px solid #FF6796;
}

input[type=email]:valid {
    border: 1px solid #fff;
}

.button, .button-light, button {
    display: inline-block;
    margin-top: .5rem;
    padding: 1rem 2.5rem;
    background-color: #FF4981;
    color: #ffffff;
    border: 1.5px solid #FF4981;;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    transition: all 0.3s ease;
}

button {
    display: inline-block;
    margin: 0;
    margin-left: .5rem;
    padding: 1rem 2.5rem;
    background-color: #FF4981;
    color: #ffffff;
    border: 1.5px solid #FF4981;;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    transition: all 0.3s ease;
}

button:hover, .button:hover {
    color: #FF4981;
    border: 1.5px solid #FFFFFF;
    background-color: #FFFFFF;
}

.highlight {
    color: #FF4981;
}

.logo {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.logo-tail {
    color: #FF4981;
}

.logo-tail-dark {
    color: #160D38;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 12rem);
    text-align: center;
    padding: 0 10%;
}

.hero-text {
    width: auto;
}

.headline {
    font-size: 3.5rem;
    margin: 1rem 0;
}

.subline {
    display: inline-block;
    margin: 1rem 0;
    padding: 0 10%;
}

.main-header {
    text-align: center;
    margin-bottom: 4rem;
}

.step {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 2rem;
    padding: 2rem;
    padding-bottom: .5rem;
    min-width: 300px;
    width: 25%;
    border-radius: 20px;
    color: #160D38;
    background-color: #fff;
}

.step-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -4.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    color: #fff;
    background-color: #FF4981;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

#intro-highlight {
    color: #FFACC5;
}

.content-headline {
    flex-basis: 40%;
    display: inline-block;
    margin: 0 1rem;
    padding-left: 4rem;
    text-align: right;
}

.content-subline {
    flex-basis: 50%;
    display: inline-block;
    margin: 0 1rem;
    padding-right: 4rem;
    padding-left: 3rem;
    text-align: left;
}

#comparison-highlight {
    color: #FF6796;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding-right: 2rem;
    padding-left: 3rem;
}

.comparison-table {
    flex-basis: 50%;
    margin: 1rem;
    margin-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 3rem;
}

.comparison-description {
    flex-basis: 50%;
    display: inline-block;
    margin: .5rem 0;
    text-align: left;
}

.comparison__table {
    background: #fff;
    border-collapse: collapse;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, .1);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: left;
    overflow: hidden;
}

.comparison__table tbody tr:last-of-type {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #FF4981;
    box-shadow: 0 1px 4px 4px rgba(0, 0, 0, 0.05);
}

tr:last-of-type td {
    font-weight: bold;
    color: #fff;
}

.comparison__header {
    font-weight: 700;
    text-align: left;
    padding: 1rem;
    color: #FF4981;
}

.comparison__header--competitor,
.comparison__header--kembot {
    font-weight: 700;
    text-align: left;
    padding: 1rem;
    color: #160D38;
}

.comparison__cell {
    padding: 0.6rem 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 400;
    color: #160D38;
}

.comparison__cell--competitor,
.comparison__cell--kembot {
    padding: .8rem;
    color: #160D38;
    text-align: center;
}

.comparison__header--kembot,
.comparison__cell--kembot {
    text-align: center;
    background: #FF4981;
    color: #fff;
}

.content-headline-light {
    flex-basis: 40%;
    display: inline-block;
    margin: 0 1rem;
    padding-left: 4rem;
    text-align: right;
}

.content-subline-light {
    flex-basis: 50%;
    display: inline-block;
    margin: 0 1rem;
    padding-right: 4rem;
    padding-left: 3rem;
    text-align: left;
}

#pricing {
    text-align: center;
    padding: 3rem;
    margin: 0;
    background-color: #FF4981;
}

.pricing-headline {
    display: inline-block;
    margin: 0 1rem;
    margin-bottom: 1rem;
    color: #fff;
}

.pricing-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.plan {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 2rem 1.5rem;
    margin: 1rem 2rem;
    width: 20%;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    box-shadow: 0px 0px 6px 1px rgba(73, 88, 152, 0.15);
}

.plan__employees {
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: #FF4981;
}

.plan__price {
    font-size: 2.5rem;
}

#cta {
    text-align: center;
    margin-bottom: 5rem;
}

.cta__headline {
    display: inline-block;
    margin: 0 1rem;
}

.cta__subline {
    display: block;
    margin: 0 1rem;
}

.button-light:hover {
    color: #FFFFFF;
    border: 1.5px solid #160D38;
    background-color: #160D38;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5rem;
}

footer small {
    margin: .5rem;
}

.amagi {
    font-family: 'Enhanced', sans-serif;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.amagi--logo {
    color: #000000;
}

.amagi--logo:hover {
    color: #fe9156;
}

footer a:hover {
    color: #160D38;
}

small {
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 1rem;
        margin: auto;
    }

    .navigation__list {
        display: none;
        position: absolute;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 100%;
        background: #160D38;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem;
    }

    .navigation__hamburger {
        border-bottom: none;
        cursor: pointer;
        display: block;
    }

    .navigation__item {
        margin: 0;
        margin-bottom: 1rem;
    }

    .navigation__item--link, .navigation__item--cta {
        font-weight: normal;
        font-size: 1rem;
    }

    .navigation__item--cta {
        color: #FF4981;
        padding: 0;
        background-color: transparent;
    }

    .navigation__item--logo, .logo {
        font-size: 1.3rem;
        padding-bottom: 0;
    }

    section {
        margin: 0 auto;
    }

    .headline {
        font-size: 2rem;
    }

    .subline {
        display: inline-block;
        margin: 1rem 0;
        padding: 0;
    }

    h2 {
        text-align: center;
        font-size: 2rem;
    }

    #hero {
        height: unset;
    }

    .email-form {
        display: none;
    }

    .email-form-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    input[type=email] {
        margin: 0;
        margin-right: .5rem;
    }

    button {
        margin: 0;
        padding: 1rem 2rem;
    }

    .button {
        margin-bottom: 2rem;
    }

    .button-light:hover {
        color: #FF4981;
        border: 1.5px solid #FFFFFF;
        background-color: #FFFFFF;
    }

    .main-header {
        margin-bottom: 1rem;
    }

    .panel {
        margin: 0 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .panel-row {
        flex-direction: column;
    }

    .panel-row, .content-row, .pricing-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-headline {
        padding-left: 0;
    }

    .content-headline-light {
        padding-left: 0;
    }

    .content-subline, .content-subline-light {
        padding: 0;
        margin: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .step {
        margin: 1.5rem;
        padding: 1.2rem;
        padding-bottom: .5rem;
        width: 80%;
    }

    .step-number {
        font-size: 1.5rem;
        top: -3rem;
        height: 3rem;
        width: 3rem;
    }

    #pricing {
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .plan {
        justify-content: center;
        align-items: center;
        margin: 1rem;
        width: 80%;
    }

    .plan__employees {
        margin-bottom: 1rem;
    }

    #cta {
        margin-bottom: 3rem;
    }

    .cta-subline {
        margin: 0;
    }

    .comparison-table {
        margin-bottom: 1rem;
        padding: 0 1rem;
    }

    .comparison__header {
        padding: 1rem;
    }
    
    .comparison__header--competitor,
    .comparison__header--kembot {
        padding: 1rem;
    }
    
    .comparison__cell {
        padding: .4rem 1rem;
        font-size: .8rem;
    }

}